RELEASE-VERSION
dist/
setup.py
Config.h
.sconsign.dblite
build/
*.pyc
*.o
*/firmware
*.egg-info
paver-minilib.zip
.idea
*.pyc
.pioenvs/
*/notebooks/.ipynb_checkpoints/

lib
*/config.py
*/mr_box_config.py
*/node.py
*/state.py
src/NodeCommandProcessor.h
src/*_mrboxconfig_validate.h
src/*_state_validate.h
